<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mojoaar.workapps</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5B0A1C2D-0001-4A00-8000-000000000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B0A1C2D-0003-4A00-8000-000000000003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B0A1C2D-0002-4A00-8000-000000000002</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B0A1C2D-0003-4A00-8000-000000000003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mojoaar</string>
	<key>description</key>
	<string>Launch work apps: Outlook, Teams, Slack and Google Chrome on the Work profile</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Work Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>work</string>
				<key>subtext</key>
				<string>Outlook, Teams, Slack, Chrome (Work)</string>
				<key>text</key>
				<string>Launch work apps</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B0A1C2D-0001-4A00-8000-000000000001</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open -a "Microsoft Outlook"
open -a "Microsoft Teams"
open -a "Slack"
open -na "Google Chrome" --args --profile-directory="Profile 3"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B0A1C2D-0003-4A00-8000-000000000003</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5B0A1C2D-0002-4A00-8000-000000000002</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Launches Microsoft Outlook, Microsoft Teams, Slack and Google Chrome on the Work profile.

Trigger: keyword "work" or hotkey ⌥⌘J (Option+Command+J).</string>
	<key>uidata</key>
	<dict>
		<key>5B0A1C2D-0001-4A00-8000-000000000001</key>
		<dict>
			<key>xpos</key>
			<real>150.0</real>
			<key>ypos</key>
			<real>150.0</real>
		</dict>
		<key>5B0A1C2D-0002-4A00-8000-000000000002</key>
		<dict>
			<key>xpos</key>
			<real>150.0</real>
			<key>ypos</key>
			<real>280.0</real>
		</dict>
		<key>5B0A1C2D-0003-4A00-8000-000000000003</key>
		<dict>
			<key>xpos</key>
			<real>430.0</real>
			<key>ypos</key>
			<real>215.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://johansen.foo</string>
</dict>
</plist>
